<template>

    <div class="container-fluid">

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Contact</h1>
        </div>

        <div class="row">

            <!-- Area Chart -->
            <div class="col-xl-12 col-lg-12">

                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <b-col cols="10"><h6 class="m-0 font-weight-bold text-primary">Create Contact</h6></b-col>
                </div>

                <div class="card shadow py-3 mb-4">

                    <div class="card-body">

                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
<!--                                    <th>ID</th>-->
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Message</th>
                                    <td>Action</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-if="contacts.data" v-for="(contact,index) in contacts.data" :key="index">
<!--                                    <td>{{contact.id}}</td>-->
                                    <td>{{contact.name}}</td>
                                    <td>{{contact.email}}</td>
                                    <td>{{contact.message}}</td>
                                    <td>
                                        <button v-on:click="editContact(contact)" class="btn btn-info btn-circle btn-sm">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                        <button v-on:click="deleteContact(contact)" class="btn btn-danger btn-circle btn-sm">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <div class="mt-3 text-center">
                                <pagination :data="contacts" @pagination-change-page="getContacts"></pagination>
                            </div>
                        </div>
                    </div>
                </div>

                <b-modal ref="editContactModel" hide-footer title="create edit contact">
                    <div class="form" v-on:submit.prevent="updateContact" style="margin: 10px">
                        <form>
                            <p v-show="error" style="color: red">
                                * {{ error }}</p>
                            <div class="form-group">
                                <label for="edit_name">Name</label>
                                <input type="text" v-model="editContactData.name" class="form-control" id="edit_name">
                            </div>
                            <div class="form-group">
                                <label for="edit_email">Email</label>
                                <input type="text" class="form-control" v-model="editContactData.email" id="edit_email">
                            </div>
                            <div class="form-group">
                                <label for="edit_message">Message</label>
                                <textarea type="text" rows="3" v-model="editContactData.message" class="form-control" id="edit_message"></textarea>
                            </div>

                            <hr>
                            <div class="text-right">
                                <button type="button" class="btn btn-default" v-on:click="hideEditContactModel">Cancel</button>
                                <button type="submit" class="btn btn-success">Update</button>

                            </div>
                        </form>
                    </div>
                </b-modal>

            </div>
        </div>
    </div>

</template>

<script>
    import * as contactService from '../../services/contact_service';

    export default {
        name: "Contact",
        data() {
            return {
                contacts: {},
                editContactData:[],
                error: null,
                page: 1,
            }
        },
        mounted() {
            this.getContacts();
        },
        methods: {
            hideNewContactModel() {
                this.$refs.newContactModel.hide();
            },
            showNewContactModel() {
                this.$refs.newContactModel.show();
            },
            getContacts: async function (page=1){
                let params = {page: page};
                try {
                    let response = await contactService.getContacts(params);
                    this.contacts = response.data;

                } catch (error) {
                    this.flashMessage.error({
                        message: 'Some error occured',
                        time: 5000
                    });
                }
            },
            hideEditContactModel() {
                this.$refs.editContactModel.hide();
            },
            showEditContactModel() {
                this.$refs.editContactModel.show();
            },
            editContact(contact) {
                this.editContactData=contact;
                this.showEditContactModel();
            },
            updateContact: async function () {
                if (!this.editContactData.name) {
                    this.error="Name required.";
                }
                else if (!this.editContactData.email) {
                    this.error='Email required.';
                }else if (!this.editContactData.message) {
                    this.error="Message required.";
                }

                else {
                    this.error=null;
                let formData = new FormData();
                formData.append('name', this.editContactData.name);
                formData.append('email', this.editContactData.email);
                formData.append('message', this.editContactData.message);
                formData.append('_method','put');
                try {
                    const response = await contactService.updateContact(this.editContactData.id,formData);
                    this.contacts.data.map(contact=>{
                        if(contact.id === response.data.data.id){
                            for(let key in response.data.data){
                                contact[key]=response.data.data[key];
                            }
                        }

                    });
                    this.hideEditContactModel();
                    this.flashMessage.success({
                        title: 'Contact Successfully Updated',
                    });

                } catch (error) {
                    switch (error.response.status) {
                        case 422:
                            this.flashMessage.error({
                                message: error.response.data.errors,
                                time: 5000
                            });
                            break;
                        case 500:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                            break;
                        default:
                            this.flashMessage.error({
                                message: error.response.data.message,
                                time: 5000
                            });
                    }
                }
                }
            },
            deleteContact: async function (contact) {

                this.$confirm({
                    title: 'Are you sure?',
                    message: `you want to delete ${contact.name}?`,
                    button: {
                        no: 'No',
                        yes: 'Yes'
                    },
                    /**
                     * Callback Function
                     * @param {Boolean} confirm
                     */
                    callback: confirm => {
                        if (confirm) {
                            try {
                                contactService.deleteContact(contact.id);
                                this.contacts.data = this.contacts.data.filter(obj => {
                                    return obj.id !== contact.id;
                                });

                            } catch (error) {
                                this.flashMessage.error({
                                    message: error.response.data.message,
                                    time: 5000
                                });

                            }
                        }
                    }
                });
            }
        }
    }

</script>


<style scoped>

</style>
