<template>
        <div>
            <b-card bg-variant="light" style="position: absolute;top:20px;right: 10%;left: 10%">
                <b-form-group
                    label-cols-lg="3"
                    label="Contact us"
                    label-size="lg"
                    label-class="font-weight-bold pt-0"
                    class="mb-0"
                >
                    <p v-show="error" style="color: red">
                        * {{ error }}</p>
                    <b-form-group
                        label="Name:"
                        label-for="nested-name"
                        label-cols-sm="3"
                        label-align-sm="right"
                    >
                        <b-form-input id="nested-name" v-model="name"></b-form-input>
                    </b-form-group>

                    <b-form-group
                        label="Email:"
                        label-for="nested-email"
                        label-cols-sm="3"
                        label-align-sm="right"
                    >
                        <b-form-input id="nested-email" v-model="email" type="email"></b-form-input>
                    </b-form-group>

                    <b-form-textarea
                        id="textarea"
                        v-model="message"
                        placeholder="Enter something..."
                        rows="3"
                        max-rows="6"
                    ></b-form-textarea>

                </b-form-group>

                <b-button variant="success" @click="send" style="float: right;position:relative;top: 10px">Button</b-button>
            </b-card>
        </div>
</template>

<script>
    import Bottom from "../components/Bottom";
    import * as contactService from "../services/contact_service";

    export default {
        name:'Home',
        components: {
            Bottom
        },
        data() {
            return {
                name: null,
                email:null,
                message:null,
                error:null
            }
        },
        methods:{

            send: async function () {
                if (!this.name) {
                    this.error="Name required.";
                }
                else if (!this.email) {
                    this.error='Email required.';
                }else if (!this.message) {
                    this.error="Message required.";
                }
                else {
                    this.error=null;

                    let formData = new FormData();
                    formData.append('name', this.name);
                    formData.append('email', this.email);
                    formData.append('message', this.message);
                    try {
                        const response = await contactService.createContact(formData);
                        this.error = {};
                        this.flashMessage.success({
                            title: 'Contact Successfully Created',
                        });
                        this.name='';
                        this.email='';
                        this.message='';

                    } catch (error) {
                        switch (error.response.status) {
                            case 422:
                                this.flashMessage.error({
                                    message: error.response.data.errors,
                                    time: 5000
                                });
                                break;
                            case 500:
                                this.flashMessage.error({
                                    message: error.response.data.message,
                                    time: 5000
                                });
                                break;
                            default:
                                this.flashMessage.error({
                                    message: error.response.data.message,
                                    time: 5000
                                });
                        }
                    }
                }
            }
        }
    }
</script>
<style>


</style>


